body{
 background-image: url(background4.png);
 background-repeat:repeat-y;
 background-size: 100%;
 background-attachment: fixed;
}
.head{
  width: 100%;
}
.headp{
 width: 100%;
}
nav{
  text-align: center;
}
.body{
 color: white;
 text-align: center;

}
/*.links{
  background-color: black;
  text-align: center;
  width: 10%;
  position: relative;
  top: 100px;
  right: -675px;
} */
a:link{color: white;}
a:visited{color: cyan;}
.image{
}
.image2{
}
.image23{
  width: 40%;
  padding-left: 450px;
}

.footer{
  position:relative;
  color: white;
  text-align: center;
  top: 200px;
}
