body{
 background-image: url(background4.png);
 background-repeat:repeat-y;
 background-size: 100%;
 background-attachment: fixed;
}
.head{
  width: 100%;
}
.headp{
 width: 100%;
}
nav{
  text-align: center;
}
.body{

}

.footer{
  position:
}
